/* body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    font-synthesis: 15px;
}
a{
    text-decoration: none;
}
.section {
    padding: 200px 0;
} */
.title-products {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 44px;
}  
.listProduct {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 48px;
  }
  .listProduct .item img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 12px;
  }
  .listProduct .item {
    position: relative;
    border: 2px solid #dcdcdc;
    border-radius: 24px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    transition: 0.2s;
  }
  .listProduct .item h2 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
  }
  .listProduct .item .price {
    font-size: 18px;
  }
  .listProduct .item .desc {
    font-size: 12px;
    margin: 8px 0 14px 0;
  }
  .listProduct .item button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #01cbcb;
    color: #fff;
    width: 80%;
    border: none;
    padding: 20px 30px;
    box-shadow: 0 10px 50px #2f4960;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
  }
  .listProduct .item:hover button {
    transition: 0.5s;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  /* ===== КОШИК ==== */
  .cart {
    color: #fff;
    position: fixed;
    width: 300px;
    max-width: 80vw;
    height: 78vh;
    background-color: #2f4960;
    top: 80px;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
    z-index: 10;
  }
  .cart .buttons .checkout {
    background-color: #01cbcb;
    color: #2f4960;
  }
  .cart h2 {
    color: #01cbcb;
    padding: 20px;
    height: 30px;
    margin: 0;
    font-size: 22px;
  }
  
  .cart .listCart .item {
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 24px;
  }
  .cart .listCart img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
  }
  .cart .listCart .item .name {
    font-weight: 500;
    font-size: 14px;
  }
  .cart .listCart .item .quantity {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .cart .listCart .item .quantity span {
    display: block;
    width: 40px;
    text-align: center;
  }
  .cart .listCart .item .quantity button {
    width: 12px;
  }
  .subtitle-check {
    margin-top: 34px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
  }
  .link-check {
    text-decoration: underline;
    color: #01cbcb;
  }
  .cart .listCart {
    padding: 20px;
    overflow: auto;
  }
  .cart .listCart::-webkit-scrollbar {
    width: 0;
  }
  
  .cart .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .cart .buttons div {
    background-color: #e88572;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    padding: 16px 0;
  }
  .cart .buttons a {
    color: #fff;
    text-decoration: none;
  }
  /*  =====checkout ==== */
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
        padding: 0 32px;
    }
    .title-products {
        font-size: 34px;
        font-weight: 600;
        padding-bottom: 54px;
    } 
    .listProduct .item button {
        width: 60%;
    }
    .listProduct .item img {
        margin-bottom: 32px;
    }
    .listProduct .item h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .listProduct .item .price {
        font-size: 20px;
      }
      .listProduct .item .desc {
        font-size: 18px;
        margin: 8px 0 14px 0;
      }






}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding: 0 4opx;
    }
    .listProduct {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 44px;
        column-gap: 32px;
      }
}
@media  (min-width: 1026px) and (max-width: 1439px) {
    .container {
        width: 1360px;
        padding: 0 20px;
    }
    .listProduct {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 60px;
      }

}


@media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
  }
  /* header-product img{
    width: 90px;
} */

  .title-products {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 32px;
  }
  .listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
  }
  /* header-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  .listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
  }
  .listProduct .item img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 12px;
  }
  .listProduct .item {
    position: relative;
    border: 2px solid #dcdcdc;
    border-radius: 24px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    transition: 0.2s;
  }
  .listProduct .item h2 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
  .listProduct .item .price {
    font-size: x-large;
  }
  .listProduct .item .desc {
    font-size: small;
    margin: 8px 0 14px 0;
  }
  .listProduct .item button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #01cbcb;
    color: #fff;
    width: 50%;
    border: none;
    padding: 20px 30px;
    box-shadow: 0 10px 50px #2f4960;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
  }
  .listProduct .item:hover button {
    transition: 0.5s;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  
.cart {
    color: #fff;
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 80vh;
    background-color: #2f4960;
    top: 54px;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
    z-index: 10;
  }
  
  .cart .buttons .checkout {
    background-color: #01cbcb;
    color: #2f4960;
  }
  .cart h2 {
    color: #01cbcb;
    padding: 20px;
    height: 30px;
    margin: 0;
  }
  
  .cart .listCart .item {
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 24px;
  }
  .cart .listCart img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
  }
  .cart .listCart .item .name {
    font-weight: bold;
  }
  .cart .listCart .item .quantity {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .cart .listCart .item .quantity span {
    display: block;
    width: 40px;
    text-align: center;
  }
  .cart .listCart .item .quantity button {
    width: 12px;
  }
  .subtitle-check {
    margin-top: 34px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
  }
  .link-check {
    text-decoration: underline;
    color: #01cbcb;
  }
  .cart .listCart {
    padding: 20px;
    overflow: auto;
  }
  .cart .listCart::-webkit-scrollbar {
    width: 0;
  }
  
  .cart .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .cart .buttons div {
    background-color: #e88572;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    padding: 16px 0;
  }
  .cart .buttons a {
    color: #fff;
    text-decoration: none;
  }
    /* ====== checkout ======= */

.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
  }
  .checkoutLayout .right {
    background-color: #01cbcb;
    border-radius: 20px;
    padding: 40px;
    color: #fafafa;
  }
  .checkoutLayout .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 20px;
  }
  .checkoutLayout .right h1 {
    margin-bottom: 24px;
  }
  .checkoutLayout .form .right h1,
  .checkoutLayout .form .group:nth-child(-n + 3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .checkoutLayout .form input,
  .checkoutLayout .form select {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: #fafafa;
    background-color: #03b5d2;
    color: #fafafa;
  }
  .checkoutLayout .right .return .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .checkoutLayout .right .return .row div:nth-child(2) {
    font-weight: bold;
    font-size: x-large;
  }
  .buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #2f4960;
    margin-top: 20px;
    font-weight: bold;
    color: #fafafa;
  }
  .returnCart h1 {
    border-top: 1px solid #eee;
    padding: 20px 0;
  }
  .returnCart .list .item img {
    height: 80px;
  }
  .returnCart .list .item {
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 24px;
  }
  .returnCart .list .item .name,
  .returnCart .list .item .returnPrice {
    font-size: large;
    font-weight: bold;
  }



}

